@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0;
  display: flex;
  font-family: "Roboto Mono", monospace;
}

#controls div {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 15px;
  justify-items: center;
  align-items: center;
}

#controls button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
  font-size: 36px; /* Big emoji */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  font-family: Inter, sans-serif;
  border-radius: 12px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

#controls button:hover {
  border-color: #06f;
  color: #06f;
  background-color: #eef4ff;
}

#controls button:active {
  transform: scale(0.95);
  box-shadow: none;
}

#forward {
  grid-column: 2;
  grid-row: 1;
}

#left {
  grid-column: 1;
  grid-row: 2;
}

#backward {
  grid-column: 2;
  grid-row: 2;
}

#right {
  grid-column: 3;
  grid-row: 2;
}

#controls {
  position: fixed; /* Stick to bottom */
  bottom: 20px; /* 20px above the bottom edge */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none; /* Let canvas still receive clicks */
}

#controls div {
  pointer-events: all; /* Re-enable buttons */
}

#score-body {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
}

#score {
  color: cyan;
  font-weight: bold;
}

#result-body {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
}

button {
    background-color: brown;
    padding: 20px 50px 20px 50px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.start-button {
  --b: 6px;
  --c: 40px;
  --g: calc(var(--c) * 0.707);

  font-size: 2.5rem;
  font-weight: bold;
  color: #ddd;
  background: #111;
  padding: 1rem 2.5rem;
  cursor: pointer;

  border: solid transparent;
  border-width: var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
  background:
    linear-gradient(-45deg, transparent var(--g), rgba(100, 100, 100, 0.2) 0) left / var(--c) 100%,
    linear-gradient(135deg, transparent var(--g), rgba(100, 100, 100, 0.1) 0) bottom / 100% var(--c),
    conic-gradient(from -90deg at top var(--b) right var(--b), currentColor 270deg, transparent 0),
    conic-gradient(from 90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)), currentColor 270deg, transparent 0);
  background-repeat: no-repeat;
  background-origin: border-box;

  transform: translate(-50%, -50%) translate(calc(var(--c) / -1), calc(var(--c) / 1));
  clip-path: polygon(
    var(--c) 0%,
    var(--c) 0%,
    100% 0%,
    100% calc(100% - var(--c)),
    100% calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)),
    var(--c) calc(100% - var(--c))
  );

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transition: 0.4s ease;
  text-align: center;
}

.start-button:hover {
  transform: translate(-50%, -50%) translate(0, 0);
  clip-path: polygon(
    0% var(--c),
    var(--c) 0%,
    100% 0%,
    100% calc(100% - var(--c)),
    calc(100% - var(--c)) 100%,
    0% 100%,
    0% 100%
  );
  color: white;
  background: #222;
}

